global:
  scrape_interval: 10s
scrape_configs:
  - job_name: "traefik"
    static_configs:
      - targets: ["reverse-proxy:8080"]

  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]
